<div class="paw-menu">
  <i class="paw-menu--item fa fa-print" ng-click="$ctrl.onPrint()" aria-hidden="true"></i>
  <i class="paw-menu--item fa fa-chain" ng-mousedown="$ctrl.onChain()" aria-hidden="true"></i>
  <i class="paw-menu--item fa fa-square-o" ng-class="{'paw-menu--item__active': $ctrl.isBorderActive()}" ng-click="$ctrl.onToggleBorder()" aria-hidden="true"></i>
  <i class="paw-menu--item fa fa-font" ng-class="{'paw-menu--item__active': $ctrl.isWordActive()}" ng-click="$ctrl.onToggleWord()" aria-hidden="true"></i>
</div>
