<div class="paw-pictogram {{$ctrl.typeClass}}" ng-click="$ctrl.onChangePictogram()" ng-class="{
    'paw-pictogram__no-border': !$ctrl.isBorderActive(),
    'paw-pictogram__no-word': !$ctrl.isWordActive()
  }">
  <span class="paw-pictogram--change-arrow" ng-if="$ctrl.hasMore">
    <i class="fa fa-plus" aria-hidden="true"></i>
    <i class="fa fa-picture-o" aria-hidden="true"></i>
  </span>
  <img class="paw-pictogram--image" ng-src="{{$ctrl.imageUrl}}" ng-if="$ctrl.imageUrl && !$ctrl.isLoading"/>
  <img class="paw-pictogram--image" src="https://fakeimg.pl/200x200/fff/fff?text=Not found" ng-if="!$ctrl.imageUrl && !$ctrl.isLoading">
  <img class="paw-pictogram--image paw-pictogram--image__loading" src="https://s3.eu-central-1.amazonaws.com/pictograpi-cdn/loading.svg" ng-if="$ctrl.isLoading"/>
  <p class="paw-pictogram--term" ng-bind="$ctrl.term"></p>
</div>
