.paw-pictogram {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid transparent;
  padding: 2px;
  align-self: flex-start;
  cursor: pointer;

  &--bg {
    width: 250px;
    height: 250px;
  }

  &__nam {
    border-color: #DD9C00;
  }

  &__des {
    border-color: #459767;
  }

  &__ver {
    border-color: #5578B2;
  }

  &__mis {
    border-color: #B7C5B6;
  }

  &__nom {
    border-color: #DD5229;
  }

  &__soc {
    border-color: grey;
  }

  &--image {
    max-width: 100%;
  }

  &--term {
    margin: 0;
  }
}
